body {
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1, h2 { 
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;

}
    
.header {
list-style: none;
font-weight: 500;

}
ul {
    list-style-type: none;
}

nav {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.page-nav
{
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: #2e2f42;
        
    }
    
.page-nav .nav-link:focus {
color: #404bbf;
        }
.nav-link {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
    
.web {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
}
    .studio {
        text-decoration: none;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        color: #2e2f42;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.03em;
}

.address-page {
    font-style: normal;
}

.address-link {
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf; 
}

.page-title {
    color: #ffffff;
    font-size: 56px;
    text-align: center;
    line-height: 1.7;
    letter-spacing: 3px;
    font-weight: bold;
    background-color:#2e2f42;
    letter-spacing: 0.02em;
}

.button {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.button:hover {
    background-color: #404BBF;
}
button:focus {
    background-color: #404BBF;
}

h3 {
    font-family: "Roboto", sans-serif;
    letter-spacing: 2%;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.features {
    line-height: 1.5;
    letter-spacing: 0.02em;
    letter-spacing: 0.02em;
    
}